
{% extends "Base.html" %}
{% load static%}
{% block Body_Header%}
<link rel="stylesheet" href="{% static 'css/Crpyto.css' %}">

<!--### any css styling if you want to add for any particular page ####-->
{% endblock%}

<!-- Content -->


{% block Body_Content%}
<div style = "background-color:#f7f7f7; ">  
    <div class = "container-fluid">
        <div class="container" id="heading" style ="display:flex; justify-content: center; flex-wrap: wrap;">
            <h3> POPULAR STOCK LISTING </h3>
            Hello world i m here for u to get good desert 
        </div>
        <div class ="Buttons_class"style="display:flex; justify-content:center; flex-wrap:wrap;">
            
            <div  id = "container-btn" style="display:flex; flex-direction: column; ">
                <h4 class="display-4">Hello world</h4>
                <div id = "Btn-container">
                    <div id = "paragraph">
                        GET /static/fonts/fontawesome-webfont.ttf?v=4.7.0 HTTP/1.1" 404 1721 "GET /static/fonts/fontawesome-webfont.woff?v=4.7.0 HTTP/1.1" 404 1724
                    </div>
                    <div class ="Btn-Refresh row">
                        <div class="col btnsplitcol bg-primary" > <i class="fa fa-refresh" aria-hidden="true"></i></div>
                        {% comment %} <div class="col btnsplitcol"> Refresh</div> {% endcomment %}
                    </div>
                    <div class ="Btn-Info row">
                        <div class="col btnsplitcol bg-warning"> <i class="fa fa-info-circle"></i></div>
                        {% comment %} <div class="col btnsplitcol"> Info</div> {% endcomment %}
                    </div>
                </div>
            </div>
            
           
            


        </div>
        
    <div>
</div>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

    
{% endblock %}